.content {
  padding-top: 70px;
  color: fuchsia;
  font: bold;
  font-size: 100%;
}

.navbar-default {
  border: none;
  font-family: monospace;
}

.navbutton{
	background-color: black;
}

.bgimage {
	background-image: url('https://raw.githubusercontent.com/bEEDON/cis311/master/broncofunctionlogos.jpg');
	background-position: center;
	background-size:cover;
	height:80px;
}

.bgimagepage {
	background-image: url('http://kingofwallpapers.com/black-background-image/black-background-image-004.jpg');
	background-position: center;
	background-size:inherit;
}

.titlefont 
{
 font-family:fantasy;
 text-align: left;
}

.btn-xlarge {
    padding: 3px 6px;
    border-left;
    font-size: 22px;
    line-height:15px;
    -webkit-border-radius: 8px;
       -moz-border-radius: 8px;
            border-radius: 8px;
    }